/* this css file will only style the homepage of our site */

.my-portrait {
  margin: 10px;
  max-width: 500px;
  width: 25%;
}

.minor-section {
  font-family: Helvetica;
  font-size: 15px;
}

body {
  color: rgb(6, 58, 6);
}

#content {
  background-color: rgb(255, 255, 162);
}

a {
  color: rgb(6, 58, 6);
  font-family: Helvetica;
}

h2 {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

h3 {
  font-family: Helvetica;
}

