.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  body {
    color: rgb(6, 58, 6);
    background-color: rgb(6, 58, 6);
  }

  .minor-section {
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(6, 58, 6);
    line-height: 1.5;
    background-color: beige;
    border-width: 0px;
  }

  #content {
    background-color: rgb(255, 227, 86);
    border-width: 7px;
    border-color: rgb(255, 255, 255);
    border-style: dotted;
  }

.text {
    margin-bottom: 10px;
}

.text.left {
    text-align: left;
}

.text.right {
    text-align: right;
}

.text.left p {
    background-color: rgb(253, 206, 214);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.text.right p {
    background-color: rgb(190, 255, 110);
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}