/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

.task-3-screenshot {
  margin: 10px;
  max-width: 500px;
  width: 50%;
}

.task-3-page {
  margin: 10px;
  max-width: 500px;
  width: 50%;
}

.task-2-screenshot {
  margin: 10px;
  max-width: 500px;
  width: 50%;
}

.task-2-page {
  margin: 10px;
  max-width: 500px;
  width: 50%;
}

.local-file-structure {
  margin: 10px;
  max-width: 500px;
  width: 50%;
}