/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #a26ce8;
    background-color: #931469;
  }

  h1 {
    color: rgb(91, 150, 246);
    text-indent: 430px;
    font-family: Helvetica;
  }

  #content {
    background-color: black;
    font-family: Helvetica;
    color: rgb(91, 150, 246);
  }